<% if user_signed_in? %>
  <div class="container well">  
    <h1>Choose a Pay Period to Continue</h1>

    <table class="table table-striped">
    <% Payperiod.all.each do |payperiod| %>
      <tr><td><%= link_to "#{payperiod.start} - #{payperiod.end}", payperiod_path(payperiod.id), :class => 'pay_period_links' %></td></tr>
    <% end %>
  </div>
<% else %>
  <h4 class="text-center">Please log in.</h4>
<% end %>